In [1]:
## set up the environment
from google.colab import drive
drive.mount('/content/drive/')

ImportError: No module named 'google'

## 1. Python standard datatypes

* boolean: consists of two built-in values `True` and `False`
* int: integers, non-limited length in Python 3.x
* float: floating-point numbers
* complex: complex numbers
* str: sequence of Unicode characters in Python 3.x
* list
* tuple
* set: an unordered collection of unique objects
* dict: Python dictionaries, associate element of the list with a definition

In [ ]:
### get type of expressions or variables
print(type(2 + 5j))

#### String

String is a sequence of characters.  
To access characters in string, we use bracket operator.

In [ ]:
fruit = 'Banana'
fruit[0]

In [ ]:
fruit[0:3]

The first character of a string has index 0, the last character has index -1.

In [ ]:
print (fruit[0])
print (fruit[-1])

To get the length of the string, we use built-in function `len`

In [ ]:
len(fruit)

To check if a string appears as a substring of another string, we use `in` operator.

In [ ]:
'A' in fruit

In [ ]:
'B' in fruit

There are many useful string methods, such as `find`, `join`, `upper`. Details can be found at https://docs.python.org/3/library/stdtypes.html#text-sequence-type-str

In [ ]:
fruit.find('B')

In [ ]:
' '.join('Apple')

In [ ]:
fruit.upper()

String is immutable

In [ ]:
a = "1234"
a[0] = 2

#### Tuple

A tuple is a sequences of values. The values can be of any types.

In [ ]:
t = 'a', 'b', 'c', 5
print (t)

In [ ]:
## it is common to enclose tuple with parentheses
t = ('a', 'b', 'c', 5)
print (t)

How can we swap to number?

In [2]:
a = 5
b = 4

In [3]:
## the old way
tmp = a
a = b
b = tmp
print (a)
print (b)

4
5

In [4]:
## Pythonic way
a = 5
b = 4
a, b = b, a
print (a)
print (b)

4
5

Tuples are immutable

In [5]:
t = (1, 2, 3)
t[1] = 4

TypeError: 'tuple' object does not support item assignment

#### List

A list is a sequence of values. Values in the list can be any type.  
Lists are mutable.

In [ ]:
numbers = [1, 2, 3, 4]
fruits = ['banana', 'apple', 'orange']
print(numbers + fruits)

In [ ]:
numbers[0] = 2
print (numbers)

Slicing a list is similar as slicing a string.

In [ ]:
print (numbers[1])
print (numbers[::-1])

In [ ]:
## Assign values to multiple elements of a list
l = [1, 2, 3]
l[0:2] = [4, 5]
print (l)

Be careful when assigning a list to another.

In [ ]:
numbers = [1, 2, 3, 4]
numbers1 = numbers
numbers1[1] = 10
print (numbers)
print (numbers1)

In [ ]:
numbers = [1, 2, 3, 4]
numbers1 = numbers[:]
numbers1[1] = 10
print (numbers)
print (numbers1)

Like strings, lists have many useful methods.

In [ ]:
## sort a list of numbers
numbers = [3, 4, 2, 1]
numbers.sort()
print (numbers)

In [ ]:
## reverse a list
numbers = [1, 2, 3, 4]
numbers.reverse()
print (numbers)

In [ ]:
numbers[::-1]

In [ ]:
## add an element to a list
numbers = [1, 2, 3, 4]
numbers.append(5)
print (numbers)

In [ ]:
## remove an element to a list
numbers = [1, 2, 3, 4]
numbers.pop(1)
print (numbers)

In [ ]:
## concatenate two lists
list1 = [1, 2, 3]
list2 = [4, 5, 6]
list1.extend(list2)
print (list1)

In [ ]:
## alternately, we can use + operator to concatenate two lists
list1 = [1, 2, 3]
list2 = [4, 5, 6]
list3 = list1 + list2
print (list3)

What is the difference between two ways of cancatenate lists?

#### Set

A set is an unordered "bag" of unique values.

In [ ]:
a_set = {1, 2, 3, 3}
print (a_set)

In [ ]:
type(a_set)

In [ ]:
## use set() to create an empty set
a_set = set()
print (len(a_set))

In [ ]:
## create a set from a list
a_list = [1, 2, 2, 4]
a_set = set(a_list)
print (a_set)

In [ ]:
## add values to set
a_set = {1, 2}
a_set.add(3)
print (a_set)

#### Dictionaties

A dictionary is an unordered set of key-value pairs.

In [ ]:
## creating a dictionary has similar syntax as creating a set
infos = {'harry': 12, 'john': 13}
print (infos)

In [ ]:
infos['harry']

In [ ]:
## modifies dictionaries
infos['harry'] = 14
print (infos)

In [ ]:
## get all keys of a dictionary
print (infos.keys())
## get all values of a dictionary
print (infos.values())
## get all items of a dictionary
print (infos.items())

## 2. Control flow

### 2.1. `if` statement

In [ ]:
age = int(input("Enter an a number:"))
if age < 0:
    print ("Negative number")
elif age == 0:
    print ("Zero")
else:
    print ("Positive number")

In [ ]:
## some especial cases
if [12]:
    print ("true")
else:
    print ("false")

In Python, conditional expressions will accept any values of any type. Some especial values are evaluated as `False` and everything else is evaluated as `True`.  
Values that are evaluated as `False` in Python:  
    * 0
    * None
    * empty string, empty list, empty set.  

We can use `and`, `or`, `not` to combine conditional expressions

In [ ]:
number = 15
## check to see if number is multiple of 3 and 5
if number % 3 == 0 and number % 5 == 0:
    print ('True')
else:
    print ('False')

### 2.2 `for` statement

Pythonâ€™s for statement iterates over the items of any sequence (a list or a string), in the order that they appear in the sequence.

In [ ]:
## calculate sum of numbers in a list
numbers = [1, 3, 2, 4]
s = 0
for num in numbers:
    s += num
print (s)

How to iterate a sequence of numbers?

In [ ]:
for i in range(4):
    print (i)

In [ ]:
for i in range(0, 10, 2):
    print (i)

***List Comprehension***

In [ ]:
### return all even function in range(10)
evens = [i for i in range(10) if i % 2 == 0]
print (evens)

### 2.3 `while` statement

The `while` statement is used for repeated execution as long as an expression is true.

In [ ]:
### Find the greatest common dividor of two numbers
a = 13
b = 14
while a != 0 and b != 0:
    a, b = b, b % a
gcd = b if b != 0 else a
print (gcd)

## 3. Function

In [ ]:
def numEven(numbers):
    '''Return the number of even number in a list.'''
    num_even = 0
    for i in numbers:
        if i % 2 == 0:
            num_even += 1
    '''YOUR CODE HERE'''
    pass
    return num_even

assert numEven([1, 2, 3, 4, 6]) == 3

In [1]:
import math
def isPrime(n):
    '''Return True if n is a prime number, False otherwise'''
    assert n > 0
    if n == 2 or n == 3:
        return True
    if n < 2 or n % 2 == 0:
        return False
    for i in range(3, int(math.sqrt(n)) + 1, 2):
        if n % i == 0:
            return False
    '''YOUR CODE HERE'''
    return True

assert not isPrime(1)
assert isPrime(2)
assert isPrime(5)
assert not isPrime(10)

In [ ]:
def fib(n):
    '''Calculate the n-th fibonacci number'''
    assert n >= 0
    a, b = 0, 1
    for i in range(1, n + 1):
        a, b = b, a + b
    '''YOUR CODE HERE'''
    return a

## SOME TEST CASES
assert fib(0) == 0
assert fib(1) == 1
assert fib(2) == 1
assert fib(5) == 5
assert fib(12) == 144

In [ ]:
def bubbleSort(numbers):
    '''Sort a list of numbers using Bubble Sort Algorithm'''
    assert len(numbers) > 0
    length = len(numbers)
    for i in range(0, length):
        for j in range(i, length):
            if numbers[i] > numbers[j]:
                numbers[i], numbers[j] = numbers[j], numbers[i]
    '''YOUR CODE HERE'''
    pass

numbers = [3, 2, 4, 1]
bubbleSort(numbers)
print (numbers)

In [ ]:
def binarySearch(sequence, number):
    '''
        Find a number in an increasing sequence of numbers.
        If number is in sequence, return True. Otherwise return False.
    '''
    assert len(sequence) > 0
    found = False
    lo, hi = 0, len(sequence) - 1
    mid = int((lo + hi)/2)+1
    if sequence[mid] == number:
        found = True
    if number < sequence[mid]:
        print(mid)
        print(hi)
        binarySearch(sequence[mid:hi], number)
    if number > sequence[mid]:
        binarySearch(sequence[0:mid+1], number)
    return found

numbers = [1, 2, 3, 5, 10, 50]
assert binarySearch(numbers, 2)
assert binarySearch(numbers, 1)
assert not binarySearch(numbers, 0)

## 4. File operation

### 4.1. Write to files

In [12]:
## writes to file primes.txt all prime number from 1 to 1000
prime_number_file = 'primes.txt'
f = open(prime_number_file, 'w')
for i in range(1, 100):
    if isPrime(i):
        f.write(str(i) + '\n') ## use str(i) to convert integer i to string
## always remember to close the file
f.close()

In [2]:
### alternative syntax
prime_number_file = 'primes.txt'
with open(prime_number_file, 'w') as f:
    for i in range(1, 1001):
        if isPrime(i):
            f.write(str(i) + '\n')

### 4.2. Read from files

In [3]:
### read all number from file primes.txt and caculate sum
s = 0
with open(prime_number_file, 'r') as f:
    for line in f: ## for each line in the text
        s += int(line)
print (s)

76127

In [6]:
### read from file words.txt and print all words that have length >= 20 characters
word_file = 'words.txt'
with open(word_file, 'r') as f:
    for line in f:
        if len(line.strip()) > 19:
            print(line)
pass

counterdemonstration

counterdemonstrations

counterdemonstrators

hyperaggressivenesses

hypersensitivenesses

microminiaturization

microminiaturizations

representativenesses

In [23]:
def findWord(word, filename):
    ''' Read a file and check if word appears in the file.'''
    ''' Hint 1: use file's read() method to get the text of file'''
    ''' Hint 2: use string's split() method to split text into words '''
    word = word.lower()
    with open(filename, 'r') as f:
        txt = f.read()
        txtArray = txt.split()
        for i in range(len(txtArray)):
            if (txtArray[i] == word):
                return True
        return False
    pass

assert findWord('Informing', word_file)
assert not findWord('hel', word_file)

In [43]:
import string

def cleanWord(word):
    '''Get rid of punctuation in word.'''
    return ''.join([c for c in word if c not in string.punctuation])
    
def wordFrequencies(filename):
    '''Read a file and count the number of appearances of each word in the file.'''
    '''YOUR CODE HERE'''
    with open(filename, 'r') as f:
        txt = f.read()
        txtArray = txt.split()
        d = {}
        for w in txtArray:
            w = cleanWord(w.lower())
            d[w] = d.get(w, 0) + 1
        print(d)
    pass

text_file = 'text.txt'
print (wordFrequencies(text_file))

{'clauses': 1, 'consists': 1, 'a': 3, 'statement': 1, 'one': 1, 'or': 1, 'of': 1, 'more': 1, 'compound': 1}
None

## 5. Additional materials

https://en.wikibooks.org/wiki/Python_Programming  
http://greenteapress.com/thinkpython/html/index.html  
https://docs.python.org/3/tutorial/index.html